:root{
    --background: #131415;
    --cards: #252525;
    --principal: #ffa400;
    --secondary: #fc2933;
    --white: #fff;
    --gradient: linear-gradient(to right, #ffa100, #fb103d);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

main {
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    width: 100%;
}

/************HEADER**************/




/************HERO**************/

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
    gap: 40px;
    max-width: 1200px;
}

.hero-title {
    padding: 50px;
    margin-right: 500px;
}

.hero-title h1 { 
    font-weight: 700px;
    font-size: 66px;
}

.hero-title h2 {
    font-size: 51px;
    font-weight: 700px;
}

.hero-title p {
    font-size: 21px;
    line-height: 80px;
    font-weight: 400px;
}

.hero-title a {
    color: white;
    font-size: 14px;
    font-weight: bold;
    line-height: 17.07px;
    align-items: center;
    width: 800px;
    height: 800px;
    padding: 15px 40px;
    background: var(--gradient);
    border-radius: 15px;
    line-height: 67px;
    letter-spacing: 1px;
}

.hero-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 800px;
}

.hero-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    gap: 20px;
}



/************RECOMENDADOS**************/




/************CATEGORÍAS**************/




/************POPULARES**************/




/************FOOTER**************/




