:root{
    --background: #131415;
    --cards: #252525;
    --principal: #ffa400;
    --secondary: #fc2933;
    --white: #fff;
    --gradient: linear-gradient(to right, #ffa100, #fb103d);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

main {
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    width: 100%;
}
section{
    margin: 25px 0;
    padding: 0 25px;
}
section:first-child{
    margin-top: 50px;
}
section:last-child{
    margin-bottom: 50px;
}

/************HEADER**************/




/************HERO**************/




/************RECOMENDADOS**************/




/************CATEGORÃAS**************/




/************POPULARES**************/
#populares{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    gap: 20px;
}
#populares h2{
    font-weight: 500;
}
.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    width: 250px;
    background: var(--cards);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.card img{
    transition: all 0.3s ease;
}
.card img:hover{
    transform: scale(1.5);
    transition: all 0.3s ease;
}
.card h4{
    font-size: 15px;
    font-weight: 500;
}
.card > p{
    font-size: 14px;
    font-weight: 400;
    opacity: 0.3;
}
.card div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.precio{
    color: transparent;
    font-size: 19px;
    font-weight: 800;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
}
.boton{
    font-size: 12px;
    font-weight: 600;
    background: var(--gradient);
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.boton:hover{
    transform: scale(1.2);
    transition: all 0.3s ease;
}
/************FOOTER**************/




